.todoItem {
    background-color: white;
    height: 60px;
    line-height: 60px;
    position: relative;
}

.todoItem:nth-child(2n + 1) {
    background-color: #F8F8F8;
}

.todoItem span {
    margin: 0;
    height: 60px;
    display: inline-block;
    vertical-align: top;
}

.todoItem .left {
    width: 100%;
    height: 100%;
    padding-right: 60px;
    box-sizing: border-box;
}

.todoItem .done {
    width: 60px;
    cursor: pointer;
}

.todoItem .delete {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
}